/* #common */
.nav-tabs {
	padding: 10px 15%;
	font-size: 18px;
	background-color: #EFEFEF;

	color: #333333;
}

.nav-tabs li {
	color: #AA3333;
}

/* #users page */

.contentContainer {
	padding: 0 15%;
}

.description {
	margin: 5px 0;
	padding: 10px 15%;

	background-color: #ffefd8;
	border-top: 1px solid #ffdeaf;
	border-bottom: 1px solid #ffdeaf;

	font-style: bold;
}

.contentContainer .search-form {
	margin-top: 10px;
	margin-bottom: 30px;
}

.contentContainer .table-striped tbody tr:nth-of-type(odd) {
  	background-color: #fff8ef;
}

.contentContainer .table-striped tbody tr {
  	padding-left: 15px;
}

.contentContainer .table-striped tbody tr td {
  	padding: 15px 5;
}

/* #edit pages */

.contentContainer .edit-form {
	margin-top: 30px;
}

form .ng-invalid {
	border: 1px solid red;
}

form .ng-invalid:focus {
	border: 1px solid red;
	box-shadow: 0 0 8px rgba(255, 0, 0, 0.5);
}