<div>	
	<div class="contentContainer">
		<div class="input-group search-form">
		  <span class="input-group-addon">Поиск: </span>
		  <input type="text" class="form-control" placeholder="Введите строку поиска" ng-model="search" ng-change="groupsCtrl.makeRequest(search)" ng-model-options="{ debounce: 300 }"/>
		</div>	

        <table class="table table-striped" ng-show="groupsCtrl.groups.length > 0">
			<thead>
			<tr>
				<th>Id</th>
				<th>Название группы</th>
				<th>Пользователи</th>
				<th></th>
			</tr>
			</thead>
			<tbody>
				<tr ng-repeat="group in groupsCtrl.groups">
					<td>{{ group.groupname }}</td>
					<td>{{ group.label }}</td>
					<td>
						<div ng-repeat="user in group.users">
							<a href="#/users/{{ user.username }}">
								{{ user.username }}
							</a> 
						</div>
					</td>
					<td>
						<button type="button" class="btn btn-default" ng-click="groupsCtrl.editGroup(group);">
						  	Редактировать
						</button>
					</td>
				</tr>
			</tbody>
        </table>

        <div ng-hide="groupsCtrl.groups.length > 0">
        	Групп не найдено!
        </div>
	</div>
</div>