<div class="edit-form">
	<form class="form-horizontal" role="form" name="form">
		<div class="form-group">
		    <label class="col-md-2 control-label">Username</label>
		    <div class="col-md-8" ng-init="username = userCtrl.user.username">
		    	<input 
		    		class="form-control" 
		    		placeholder="Username" 
		    		ng-model="username"
		    		ng-pattern="userCtrl.usernamePattern"> 
		    </div>
		</div>

		<div class="form-group">
		    <label class="col-md-2 control-label">Имя</label>
		    <div class="col-md-8" ng-init="firstName = userCtrl.user.firstName">
		    	<input 
		    		class="form-control" 
		    		placeholder="Имя" 
		    		ng-model="firstName"
		    		ng-pattern="userCtrl.firstNamePattern"> 
		    </div>
		</div>

		<div class="form-group">
		    <label class="col-md-2 control-label">Фамилия</label>
		    <div class="col-md-8" ng-init="lastName = userCtrl.user.lastName">
		    	<input 
		    		class="form-control" 
		    		placeholder="Фамилия" 
		    		ng-model="lastName"
		    		ng-pattern="userCtrl.lastNamePattern"> 
		    </div>
		</div>

		<div class="form-group">
		    <label class="col-md-2 control-label">Email</label>
		    <div class="col-md-8" ng-init="email = userCtrl.user.email">
		    	<input 
		    		class="form-control" 
		    		placeholder="Email" 
		    		ng-model="email"
		    		type="email"
		    		ng-minlength="3" 
		    		ng-maxlength="30"> 
		    </div>
		</div>


		<div class="form-group">
		    <div class="col-md-offset-2 col-md-10">
		      <button type="submit" class="btn btn-default" ng-click="" ng-disabled="!form.$valid">Сохранить</button>
		    </div>
		</div>
	</form>
</div>