<div class="edit-form">
        <table class="table table-striped">
			<thead>
			<tr>
				<th>Username</th>
				<th>Имя</th>
				<th>Фамилия</th>
				<th>Email</th>
				<th>Группы</th>
				<th></th>
			</tr>
			</thead>
			<tbody>
				<tr ng-repeat="user in groupCtrl.users">
					<td>{{ user.username }}</td>
					<td>{{ user.firstName }}</td>
					<td>{{ user.lastName }}</td>	
					<td>{{ user.email }}</td>
					<td>
						<div ng-repeat="group in user.groups">
							<a href="#/groups/{{ group.groupname }}">
								{{ group.label }}
							</a> 
						</div>
					</td>
					<td>
						<button type="button" class="btn btn-default" ng-click="groupCtrl.editUser(user);">
						  	Редактировать
						</button>
					</td>
				</tr>
			</tbody>
        </table>
</div>