<div class="usersPageContainer" ng-controller="usersController as usersCtrl">
	<div class="description">Страница просмотра и поиска пользователей</div>
	
	<div class="tableContainer">
		<div class="input-group search-form">
		  <span class="input-group-addon">Поиск: </span>
		  <input type="text" class="form-control" placeholder="Введите строку поиска" ng-model="search.$" />
		</div>	

        <table class="table table-striped">
			<thead>
			<tr>
				<th>Username</th>
				<th>Имя</th>
				<th>Фамилия</th>
				<th>Email</th>
				<th>Группы</th>
				<th></th>
			</tr>
			</thead>
			<tbody>
				<tr ng-repeat="user in users| filter:search:strict">
					<td>{{ user.username }}</td>
					<td>{{ user.firstName }}</td>
					<td>{{ user.lastName }}</td>	
					<td>{{ user.email }}</td>
					<td>
						<div class="group" ng-repeat="group in user.groups">
							<a href="#/groups/{{ group }}">
								{{ group }}
							</a> 
						</div>
					</td>
					<td>
						<button type="button" class="btn btn-default" ng-click="editUser(user);">
						  	Редактировать
						</button>
					</td>
				</tr>
			</tbody>
        </table>
	</div>
</div>