<div>
	<div class="contentContainer">
		<div class="input-group search-form">
		  <span class="input-group-addon">Поиск: </span>
		  <input type="text" class="form-control" placeholder="Введите строку поиска" ng-model="search.$" ng-model-options="{ debounce: 300 }"/>
		</div>	

        <table class="table table-striped">
			<thead>
			<tr>
				<th>Username</th>
				<th>Имя</th>
				<th>Фамилия</th>
				<th>Email</th>
				<th>Группы</th>
				<th></th>
			</tr>
			</thead>
			<tbody>
				<tr ng-repeat="user in usersCtrl.users | filter:search:strict | limitTo: usersCtrl.elementsLimit">
					<td>{{ user.username }}</td>
					<td>{{ user.firstName }}</td>
					<td>{{ user.lastName }}</td>	
					<td>{{ user.email }}</td>
					<td>
						<div ng-repeat="group in user.groups">
							<a href="#/groups/{{ group.groupname }}">
								{{ group.label }}
							</a> 
						</div>
					</td>
					<td>
						<button type="button" class="btn btn-default" ng-click="usersCtrl.editUser(user);">
						  	Редактировать
						</button>
					</td>
				</tr>
			</tbody>
        </table>
	</div>
</div>